@import url('https: //fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap" rel="stylesheet');

$usefulColor: #D3E10E;
$textColor: #F9F9F9;
$headsize: 86px;
$textsize: 20px;
$fontF: "assistant";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}